@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,700&display=swap'); 

* {
    font-family: Arimo;
    color: #555585;
}

.egg-image {
  width: 100%;
  flex-grow: 0;
  max-width: 380px;
  padding-right: 10px;
  margin-left: 2px;
  margin-top: 2px;
}

.egg-image.design-logo {
  max-width: 300px;
}

@media (min-width: 768px) {
  .egg-image {
    max-width: 260px;
  }

  .egg-image.design-logo {
    max-width: 200px;
  }
}

.egg-image-home {
  max-width: 400px;
  margin-top: -25px;
  margin-left: -20px;
}

.small {
    height: 10vh;
    font-size: 150%;
  }
   
  .socials {
    height: 30px;
  }

  .socials-white {
    height: 30px;
    padding: 3px;
    margin-bottom: 10px;
  }
#social-links-white {
display: flex;
margin-right: 100px;
}
.nav {
  display: flex;
  color: #555585;
  margin-top: 0.3125em;
  padding-right: 10px;
  } 

  .nav > .nav-header {
  display: inline;
  }
  
  .nav > .nav-header > .nav-title {
  display: flex;
  font-size: 22px;
  padding-left: 10px;
    align-items: center;
  }
  
  .nav > .nav-btn {
  display: none;
  }
  
  .nav > .nav-links {
  margin-left: auto;
  order: 2;
  font-size: 22px;
  margin-top: 10px;
  word-spacing: 10%;
  }
  
  .nav > .nav-links > a {
  display: inline-block;
  padding: 0px 10px 13px 10px;
  text-decoration: none;
  color: #555585;
  }
  
  .nav > .nav-links > a:hover {
    text-decoration: underline;
  }
  
  .nav > #nav-check {
  display: none;
  margin-top: 10px;
  }
  
  @media (max-width:600px) {

  .egg-image-home {
      width: 300px;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding-top: 6px
  }

  .nav > .nav-btn > label {
    display: inline-block;
    padding: 13px;
  }
  
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid black;
  }
  .nav > .nav-links {
    border-radius: 10px;
    display: block;
    width: 100%;
    background-color: white;
    height: 0px;
    transition: all 0.6 ease-in;
    overflow-y: hidden;
    top: 100px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;

  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
    z-index: 2;
  }
  }

  a:active {
    text-decoration: underline;
  }


  .contain-egg {
    display: flex;
    align-items: center;
  }

  #social-links {
    display: flex;
  }

  #social-links > a {
    margin-left: 5px;
    margin-right: 5px;
  }

@media (max-width: 767px) {
  .socials {
  display: none;
  }
}

  
  