@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,700&display=swap'); 

body {
    font-family: arimo;
}

.container {
    display: grid;
    place-items: center;
    padding-right: 100px;
    padding-left: 100px;
}

.sizing {
    max-width: 60em;
    max-height: 33em;
    margin-top: 3em;
}

iframe {
    margin-top: 50px;
    width: 700px;
    height: 500px;
}


.showcase-arrow {
    position: absolute;
    max-width: 5em;
    margin-top: 15%;
    z-index: 1;
}

h3 {
    margin-bottom: 0px;
}

p {
    line-height: 30px;
}
