@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,700&display=swap'); 


* { 
  box-sizing: border-box; 
  color: #555585;
}

body { 
    font-family: Arimo; 
    
}

.carousel {
  width: 20em;
  height: 40px;
}

.section {
  display: flex;
  justify-content: space-between;

}


.img-slide-size {
  float: right;
  max-width: 200px;
  max-height: 200px;
  padding: 10px;
  border-radius: 15px;
  
}

.lines {
  border-top: 2px solid;
  border-bottom: 2px solid;;
  margin-right: 10px;
  margin-bottom: 30px;
  padding: 40px;
}

p {
  font-size: 33px;
}

a {
  text-decoration: none;
  color: black;
}
