@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,700&display=swap'); 



body { 
    font-family: Arimo; 
    
}

.container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

img {
  padding: 0px;
  width: 65em;
  margin-top: 30px;
}



#img_wrap #static, #img_wrap:hover #animated {
  display: inline;
}
#img_wrap #animated, #img_wrap:hover #static {
  display: none;
}

@media (max-width: 600px) {
  /* img {
    width:22em;
    height: 100px;
    padding-bottom: 40px;
    
  } */
  #img_wrap #static, #img_wrap:hover #animated {
    width:22em;
    height: 70px;
    padding-bottom: 40px;
    margin-top: 100px;
    display: inline-block !important;
  }

  #img_wrap #animated, #img_wrap:hover #static {
    width:22em;
    height: 100px;
    padding-bottom: 40px;
    display: none !important;
  }
  .container {
    display: inline;
    align-items: center;

  }
}


