@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,700&display=swap'); 


* { 
  box-sizing: border-box; 
  color: #555585;
}

body { 
    font-family: Arimo; 
    
}

.container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

img {
  padding: 0px;
  width: 65em;
  margin-top: 30px;
}



#img_wrap #static, #img_wrap:hover #animated {
  display: inline;
}
#img_wrap #animated, #img_wrap:hover #static {
  display: none;
}

