@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,700&display=swap'); 

body {
color: #555585;
}

.container {
  margin: auto;
  
}

h1 {
    font-family: Arimo;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 28px;
}


.main-text {
    position: relative;
    width: 100%;
    height: 10vh
}

.main-text h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}